<!-- <table class="table table-striped">
  <thead>
    <tr>
      <th>Prenom</th>
      <th>Nom</th>
      <th>Id du Client</th>
      <th>Conseiller</th>
    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let client of listeClients">
      <td>{{client.prenom}}</td>
      <td>{{client.nom}}</td>
      <td>{{client.id}}</td>
      <td>{{client.conseiller}}</td>
      <button (click)="deleteClient(client.id)">Supprimer</button>
     
    </tr> -->



<ng-template #noClientFound>
  <h2>Aucun client trouvé</h2>
</ng-template>

<ng-template #noClient>
  <h2>Vous ne pouvez plus ajouter de clients</h2>
</ng-template>

<div class="row" *ngIf="clients.length !== 0; else noClientFound">

  <!-- new client -->
  <p *ngIf="clients.length < 10; else noClient">
    <a routerLink="/newClient" class="btn btn-default" >
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Nouveau client
    </a>
  </p>

<h3>Bienvenue sur votre LISTE DE CLIENTS.<br/>
  Vous êtes en charge de {{clients.length}} client(s)</h3>

  <!-- client list -->
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Prenom</th>
        <th>Nom</th>
        <th>Telephone</th>
        <th>Actions sur client</th>
        <th>Gestion compte</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let client of clients">
        <td>{{client.prenom}}</td>
        <td>{{client.nom}}</td>
        <td>{{client.telephone}}</td>
        
        <td>
          <!-- <a [routerLink]="['/editClient', client.id, option]" class="btn btn-default btn-sm" (click)="loadClient(client.id,'voir')"  > -->
          <a [routerLink]="['/voirClient', client.id]" class="btn btn-default btn-sm" (click)="loadClient(client.id)"  >
            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Voir
          </a>
          <!-- <a [routerLink]="['/editClient', client.id, option]" class="btn btn-default btn-sm" (click)="loadClient(client.id, 'editer')"></a> -->
          <a [routerLink]="['/editClient', client.id]" class="btn btn-default btn-sm" (click)="loadClient(client.id)">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Éditer
          </a>
          <button class="btn btn-danger btn-sm" (click)="deleteClient(client.id)">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"> </span> Supprimer
          </button>
        </td>
        <td>
          <a [routerLink]="['/listeComptes']" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-euro" aria-hidden="true"></span> Gérer les comptes
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- <button type="submit" (click)="virement()">
  Virement
 </button> -->