<h1>Bienvenue sur la LISTE DE COMPTES du client</h1>

<!-- <ng-template #noCompteFound>
  <h2>Aucun compte trouvé</h2>
</ng-template> -->

<!-- <div class="row" *ngIf="listeComptes.length !== 0; else noCompteFound"> -->

<!-- new compte -->
<p>
  <a routerLink="/newCompteEpargne" class="btn btn-default">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Nouveau Compte Epargne
  </a>
</p>

<!-- compte list -->
<table class="table table-striped">
  <caption>Compte Courant</caption>
  <thead>
    <tr>
      <!-- <th>Type Compte</th> -->
      <th>Numero du compte</th>
      <th>Solde</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let client of clients">
      <td>{{client.compteCourant.numCompte}}</td>
      <td>{{client.compteCourant.solde}}</td>
  

      <!-- <td>
          <a [routerLink]="['/editClient', client.id]" class="btn btn-default btn-sm" (click)="loadCompteCourants(client.id)" >
            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Voir
          </a>
          <a [routerLink]="['/editClient', client.id]" class="btn btn-default btn-sm" (click)="loadCompteCourants(client.id)">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Éditer
          </a>
          <button class="btn btn-danger btn-sm" (click)="deleteClient(client.id)">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"> </span> Supprimer
          </button>
        </td> -->

      <td>
        <a [routerLink]="['']" class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Simulation de credit
        </a>
        <a [routerLink]="['']" class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Virement
        </a>
        <a [routerLink]="['']" class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Audit
        </a>
      </td>
    </tr>
  </tbody>
</table>


<table class="table table-striped">
    <caption>Compte Epargne</caption>
    <thead>
      <tr>
        <!-- <th>Type Compte</th> -->
        <th>Numero du compte</th>
        <th>Solde</th>
      </tr>
    </thead>
  
    <tbody>
      <tr *ngFor="let client of clients">
        <td>{{client.compteEpargne.numCompte}}</td>
        <td>{{client.compteEpargne.solde}}</td>
        
  
        <!-- <td>
            <a [routerLink]="['/editClient', client.id]" class="btn btn-default btn-sm" (click)="loadCompteCourants(client.id)" >
              <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Voir
            </a>
            <a [routerLink]="['/editClient', client.id]" class="btn btn-default btn-sm" (click)="loadCompteCourants(client.id)">
              <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Éditer
            </a>
            <button class="btn btn-danger btn-sm" (click)="deleteClient(client.id)">
              <span class="glyphicon glyphicon-trash" aria-hidden="true"> </span> Supprimer
            </button>
          </td> -->
  
        <td>
          <a [routerLink]="['']" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Simulation de credit
          </a>
          <a [routerLink]="['']" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Virement
          </a>
          <a [routerLink]="['']" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Audit
          </a>
        </td>
      </tr>
    </tbody>
  </table>

<!-- </div> -->