<div class="tete">
	<div class="element">
		<div class="container">
			<div class="col-md-6 col-md-offset-3" style="border: solid;">

				<img [src]="Proxibanque" class="logo" alt="LogoProxibanque" style="width:100%;">
				<div class="button input">
					<p>
						<a>
							<button type="button" (click)="gotoConseiller($event)">Se connecter en tant que conseiller </button>
						</a>

						<p>
							<a>
								<button type="button" (click)="gotoGerant($event)">Se connecter en tant que Gérant </button>
							</a>
						</p>
				</div>

			</div>
		</div>
	</div>

</div>
