<!-- <form novalidate [formGroup]="conseillerForm" (ngSubmit)="saveConseiller()" >



  <app-field label="Prenom*" [control]="conseillerForm.get('prenom')">
      <input formControlName="prenom" type="text" class="form-control" placeholder="Prenom">
  </app-field>

  <app-field label="Nom*" [control]="conseillerForm.get('nom')">
      <input formControlName="nom" type="text" class="form-control" placeholder="Nom" >
  </app-field>

  <app-field label="Login*" [control]="conseillerForm.get('login')">
      <input formControlName="login" type="text" class="form-control" placeholder="Login" >
  </app-field>

  <app-field label="Password*" [control]="conseillerForm.get('password')">
      <input formControlName="password" type="text" class="form-control" placeholder="Password" >
  </app-field>

  <button type="submit" class="btn btn-primary" [disabled]="conseillerForm.invalid">Enregistrer</button>
<a routerLink="/listeConseillers">Annuler</a>



</form> -->