<form novalidate [formGroup]="clientForm" (ngSubmit)="saveClient()">
    <form novalidate [formGroup]="clientForm">
        <h4>Informations du client: </h4>

        <app-field label="Nom*" [control]="clientForm.get('nom')">
            <input formControlName="nom" type="text" class="form-control" placeholder="Nom">
        </app-field>

        <app-field label="Prenom*" [control]="clientForm.get('prenom')">
            <input formControlName="prenom" type="text" class="form-control" placeholder="Prenom">
        </app-field>

        <app-field label="Telephone*" [control]="clientForm.get('telephone')">
            <input formControlName="telephone" type="text" class="form-control" placeholder="Telephone">
        </app-field>


        <app-field label="Adresse" [control]="clientForm.get('adresse')">
            <input formControlName="adresse" type="text" class="form-control" placeholder="Adresse">
        </app-field>

        <app-field label="Ville" [control]="clientForm.get('ville')">
            <input formControlName="ville" type="text" class="form-control" placeholder="Ville">
        </app-field>

        <app-field label="Code Postal" [control]="clientForm.get('codePostal')">
            <input formControlName="codePostal" type="text" class="form-control" placeholder="Code Postal">
        </app-field>

    </form>
   



    <div class="col-md-6 col-md-offset-0" style="border: solid;">
        <h4>Informations modifiables du compte courant: </h4>
             <form novalidate [formGroup]="comptecourantForm">
        
                <!-- <app-field label="Numero du Compte*" [control]="comptecourantForm.get('numCompte')" >
                 <input formControlName="numCompte" type="text" class="form-control" placeholder="Numero du Compte">
                 </app-field> -->

                <app-field label="Solde*" [control]="comptecourantForm.get('solde')">
                 <input formControlName="solde" type="text" class="form-control" placeholder="Solde">
        
                </app-field>

                 <app-field label="Type de compte*" [control]="comptecourantForm.get('typeCompte')">
                 <input formControlName="typeCompte" type="text" class="form-control" placeholder="Type de compte">
                 </app-field>

                <app-field label="Date d'ouverture*" [control]="comptecourantForm.get('dateOuverture')">
                 <input formControlName="dateOuverture" type="text" class="form-control" placeholder="Date d'ouverture">
                 </app-field>

                 <app-field label="Carte visa*" [control]="comptecourantForm.get('carteVisa')">
                  <input formControlName="carteVisa" type="text" class="form-control" placeholder="Carte visa">
                 </app-field>

            </form>
    </div>

    <div class="col-md-6 col-md-offset-0" style="border: solid;">
        <h4>Informations modifiables du compte épargne: </h4>
        <form novalidate [formGroup]="compteepargneForm">
        
            <!-- <app-field label="Numero du Compte*" [control]="compteepargneForm.get('numCompte')">
            <input formControlName="numCompte" type="text" class="form-control" placeholder="Numero du Compte">
             </app-field> -->

            <app-field label="Solde*" [control]="compteepargneForm.get('solde')">
            <input formControlName="solde" type="text" class="form-control" placeholder="Solde">
            </app-field>

             <app-field label="Type de compte*" [control]="compteepargneForm.get('typeCompte')">
            <input formControlName="typeCompte" type="text" class="form-control" placeholder="Type de compte">
             </app-field>

             <app-field label="Date d'ouverture*" [control]="compteepargneForm.get('dateOuverture')">
            <input formControlName="dateOuverture" type="text" class="form-control" placeholder="Date d'ouverture">
            </app-field>

            <app-field label="Taux de rémunération*" [control]="compteepargneForm.get('tauxRemuneration')">
            <input formControlName="tauxRemuneration" type="text" class="form-control" placeholder="Taux de rémunération">
            </app-field>

        </form>
        </div>

<div>
    <button type="submit" class="btn btn-primary" [disabled]="clientForm.invalid && !clientForm.dirty">Enregistrer</button>
    <button class="btn btn-primary" routerLink="/clients">Annuler</button>
     </div>
</form>
