@charset "UTF-8";

.tete {
    text-align: center;
}

.element {
    margin-top: 50vh; /* poussé de la moitié de hauteur de viewport */
    transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
  }

  /* Set a style for all buttons */



button {
    background-color: #003368;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 55px 20px;
    /* width: 50%; */
}

button:hover {
    background-color: #dedede;
    border-color: #003368;
    color: #003368;
    border-radius: 20px 55px;
}
    
    /* .button [type="submit"] {
	background-color: #003368;
	border-color: #003368;
} */

/* 

.identifiant {
    background: #DEDEDE;
	border: 4px solid red;
    border-radius: 20px 55px;
	
} */

/* .row {
    display: flex;
    flex-direction: row;
  }
  
  .row > [class^="col-"],
  .row > [class*=" col-"] {
    display: flex;
    align-items: center;
  }

  .row > [class^="col-"],
.row > [class*=" col-"] {
  justify-content: center;
} */





/* .button_delete {

    background-color: #003368;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    /* width: 50%; */
    
    /* } */

/* button_delete:hover { 
        opacity: 0.7;
        background-color: orangered;

     } */

/* .button input {
	height: 30px;
	width: 100px;
	border-radius: 55px 20px;
	border-width: 3px; 
	margin-left: 15px;
	color: #334d20; */
/* } */






/* table { */
/*     font-family: arial, sans-serif; */
/*     border-collapse: collapse; */
/*     width: 100%; */
/* } */


/* td, th { */
/*     border: 1px solid #dddddd; */
/*     text-align: left; */
/*     padding: 8px; */
/* } */


/* tr:nth-child(even) { */
/*     background-color: #dddddd; */
/* } */


/* body {font-family: Arial, Helvetica, sans-serif;} */

/* Full-width input fields */ 
/* input[type=text], input[type=password] { */
/*     width: 100%; */
/*     padding: 12px 20px; */
/*     margin: 8px 0; */
/*     display: inline-block; */
/*     border: 1px solid #ccc; */
/*     box-sizing: border-box; */
/* } */




/* Extra styles for the cancel button */
/* .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #da7d37;
} */

/* Center the image and position the close button */
    /* .imgcontainer {text-align: center;
    margin: 24px 0 12px 0;
    
} */

/* img.avatar {
    width: 27%;
   margin: 24px 0 12px 0;
    }



/* span.psw { */
/*     float: right; */
/*     padding-top: 16px; */
/* } */

/* The Modal (background) */
/* .modal { */
/*     display: none; Hidden by default */
/*     position: fixed; Stay in place */
/*     z-index: 1; Sit on top */
/*     left: 0; */
/*     top: 0; */
/*     width: 100%; Full width */
/*     height: 100%; Full height */
/*     overflow: auto; Enable scroll if needed */
/*     background-color: rgb(0,0,0); Fallback color */
/*     background-color: rgba(0,0,0,0.4); Black w/ opacity */
/*     padding-top: 60px; */
/* } */

/* Modal Content/Box */
/* .modal-content { */
/*     background-color: #fefefe; */
/*     margin: 5% auto 15% auto; 5% from the top, 15% from the bottom and centered */
/*     border: 1px solid #888; */
/*     width: 60%; Could be more or less, depending on screen size */
/* } */

/* The Close Button (x) */
/* .close { */
/*     position: absolute; */
/*     right: 25px; */
/*     top: 0; */
/*     color: #000; */
/*     font-size: 35px; */
/*     font-weight: bold; */
/* } */

/* .close:hover, */
/* .close:focus { */
/*     color: #da7d37; */
/*     cursor: pointer; */
/* } */

/* Add Zoom Animation */
/* .animate { */
/*     -webkit-animation: animatezoom 0.6s; */
/*     animation: animatezoom 0.6s */
/* } */

/* @-webkit-keyframes animatezoom { */
/*     from {-webkit-transform: scale(0)}  */
/*     to {-webkit-transform: scale(1)} */
/* } */
    
/* @keyframes animatezoom { */
/*     from {transform: scale(0)}  */
/*     to {transform: scale(1)} */
/* } */

/* Change styles for span and cancel button on extra small screens */
/* @media screen and (max-width: 300px) { */
/*     span.psw { */
/*        display: block; */
/*        float: none; */
/*     } */
/*     .cancelbtn { */
/*        width: 100%; */
/*     } */
/* } */