<div class="tete">
  <div class="element">
    <div class="container">
      <div class="col-md-6 col-md-offset-3" style="border: solid;">


        <img [src]="userLogin" class="logo" alt="LogoUserLogin" width="50%" height="50%">

        <form class="form-group mb-2 mx-sm-3 form-inline">


          <label for="uname">
            <b>Login Gérant</b>
          </label>

          <input class="form-inline ng-pristine ng-invalid ng-touched sr-only" formcontrolname="loginGerant" ng-reflect-name="loginGerant"
            type="text" placeholder="Entrez votre nom" required>

          <div class="form-group mx-sm-3 mb-2">
            <label for="uname" class="sr-only">Uname</label>
            <input type="password" class="form-control" id="psw" placeholder="Entrez votre nom">
          </div>

          <label for="psw">
            <b>Password</b>
          </label>

          <input class="form-inline ng-pristine ng-invalid ng-touched sr-only" formcontrolname="PasswordGerant" ng-reflect-name="PasswordGerant"
            type="password" placeholder="Mot de passe" name="psw" required>

            <div class="form-group mx-sm-3 mb-2">
                <label for="psw" class="sr-only">Password</label>
                <input type="password" class="form-control" id="psw" placeholder="Mot de passe">
              </div>


        </form>

        <button type="submit">Login</button>

        <button type="button" (click)="gotoHome($event)" class="cancelbtn">cancel</button>

      </div>
    </div>
  </div>
</div>