<div class="tete">
  <div class="element">
    <div class="container">
      <div class="col-md-6 col-md-offset-3" style="border: solid;">

        <p>
          <img [src]="userLogin" class="logo" alt="LogoUserLogin" width="50%" height="50%">
        </p>
        <a>
          <label for="uname">
            <b>Login Gérant</b>
          </label>

          <input class="form-control ng-pristine ng-invalid ng-touched" formcontrolname="loginGerant" placeholder="Titre" ng-reflect-name="loginGerant"
            type="text" placeholder="Entrez votre nom" required>
        </a>

        <a>
          <label for="psw">
            <b>Password</b>
          </label>

          <input type="password" placeholder="Mot de passe" name="psw" required>
        </a>

        <p>
          <a>
            <button type="submit">Login</button>

            <button type="button" (click)="gotoHome($event)" class="cancelbtn">cancel</button>

          </a>
        </p>

      </div>
    </div>
  </div>
</div>